* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1170px;
  height: 100%;
}

header .header-top {
  background-color: #0282f9;
  height: 25px;
}

header .header-top .header-top-text {
  width: 400px;
  height: 100%;
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-top .header-top-text a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

header .header-top .header-top-text a i {
  color: white;
}

header .header-bottom {
  height: 115px;
  border-bottom: solid 1px #464646;
}

header .header-bottom .cont {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

header .header-bottom .cont .logo {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
}

header .header-bottom .cont .logo img {
  width: 100%;
}

header .header-bottom .cont nav {
  width: 70%;
  height: 100%;
}

header .header-bottom .cont nav ul {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

header .header-bottom .cont nav ul li {
  height: 100%;
  display: inline-block;
}

header .header-bottom .cont nav ul li a {
  height: 100%;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #464646;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 15px;
}

header .header-bottom .cont nav ul li a:hover {
  border-bottom: solid 5px #0282f9;
  color: #0282f9;
}

header .header-bottom .cont nav ul li a i {
  color: #464646;
}

header .header-bottom .cont .search {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

header .header-bottom .cont .search input {
  width: 130px;
  height: 25px;
  border: none;
  border-bottom: solid 3px #0282f9;
}

header .header-bottom .cont .search input::-moz-placeholder {
  font-size: 15px;
  color: black;
  font-weight: bold;
}

header .header-bottom .cont .search input:-ms-input-placeholder {
  font-size: 15px;
  color: black;
  font-weight: bold;
}

header .header-bottom .cont .search input::placeholder {
  font-size: 15px;
  color: black;
  font-weight: bold;
}

header .header-bottom .cont .search input:focus {
  outline: none;
}

header .header-bottom .cont .search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: #464646;
}

footer .footer-top {
  height: 150px;
  background-color: #0282f9;
}

footer .footer-middle {
  height: 385px;
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
}

footer .footer-bottom {
  height: 108px;
  background-color: #464646;
}

.jumbotron {
  width: 100%;
  height: 300px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-size: cover;
}

.home-main {
  background-color: #464646;
}

.home-main .card-cont {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.home-main .card-cont h1 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateY(-50%);
  background-color: #0282f9;
  padding: 10px 30px;
  color: white;
  text-transform: uppercase;
}

.home-main .card-cont .card {
  width: 170px;
  height: 230px;
  margin: 10px;
  color: white;
}

.home-main .card-cont .card:hover {
  cursor: pointer;
}

.home-main .card-cont .card .img-cont {
  width: 100%;
  height: 170px;
}

.home-main .card-cont .card .img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.home-main .card-cont .card p {
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
}

.home-main .card-cont button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0282f9;
  color: white;
  text-transform: uppercase;
  border: none;
}

.home-main .card-cont button:hover {
  cursor: pointer;
}

